<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
  Navbar
</div>

<div class="container">
  <h2 class="text-center text-white">Admin page</h2>
</div>
<div class="col-md-6 ">
  <img class="center" width="40%" src="/images/admin.jpg" alt="Admin image">
</div>

<div class="button-holder d-flex justify-content-center">
  <button type="submit" class="btn btn-warning  mb-3" value="Register">DELETE CUSTOMER</button>
</div>
<div class="button-holder d-flex justify-content-center">
  <button type="submit" class="btn btn-warning  mb-3" value="Register">CHANGE CUSTOMER DETAILS</button>
</div>
<div class="button-holder d-flex justify-content-center">
  <button type="submit" class="btn btn-warning  mb-3" value="Register">ADD NEW CUSTOMER</button>
</div>
<div class="button-holder d-flex justify-content-center">
  <button type="submit" class="btn btn-warning  mb-3" value="Register">DELETE PRODUCT</button>
</div>
<div class="button-holder d-flex justify-content-center">
  <button type="submit" class="btn btn-warning  mb-3" value="Register">CHANGE PRODUCT DETAILS</button>
</div>
<div class="button-holder d-flex justify-content-center">
  <button type="submit" class="btn btn-warning  mb-3" value="Register">ADD NEW OBJECT</button>
</div>


<div>
  <footer></footer>
</div>
</body>
</html>