<html>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<head></head>
<body>
<div class="product-wrapper">
    <div class="product-element-top wd-quick-shop"><a
            class="product-image-link">
        <img width="600" height="600"
             class="rounded" width="210%" src="/images/coser.jpg"
             alt="Градински трион и ножица за високи клони" decoding="async"
             data-sizes="(max-width: 600px) 100vw, 600px" sizes="(max-width: 600px) 100vw, 600px"
             >
    </a>
        <div class="wd-buttons wd-pos-r-t">
            <div class="wd-add-btn wd-action-btn wd-style-icon wd-add-cart-icon"><a href="?add-to-cart=47990"
                                                                                    data-quantity="1"
                                                                                    class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart add-to-cart-loop"
                                                                                    aria-label="Добавете “Градински трион и ножица за високи клони - КОСЕР” в количката си"
                                                                                    rel="nofollow"><span>Добави в количката</span></a>
            </div>
            <div class="wd-wishlist-btn wd-action-btn wd-style-icon wd-wishlist-icon"><a
                    class="wd-tltp wd-tooltip-inited"
                    rel="nofollow" data-added-text="Browse Wishlist"><span
                    class="wd-tooltip-label"> Add to wishlist </span> <span>Add to wishlist</span> </a></div>
        </div>
    </div>
    <div class="product-element-bottom"><h3 class="wd-entities-title"><a>Градински трион и
        ножица за високи клони – КОСЕР</a></h3> <span class="price"><span class="woocommerce-Price-amount amount"><bdi>38<span
            class="woocommerce-Price-currencySymbol">лв.</span></bdi></span></span> <span
            data-content_category="Ръчни триони за клони | Градински триони"></span> </span>
    </div>
</div>
</body>
</html>