<html>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<head></head>
<body>
<div class="product-wrapper">
    <div class="product-element-top wd-quick-shop"><a
            class="product-image-link">
        <img width="600" height="600"
             class="rounded" width="210%" src="/images/magneticHammer.jpg"
             alt="Заоблена лопата" decoding="async"
             data-sizes="(max-width: 600px) 100vw, 600px" sizes="(max-width: 600px) 100vw, 600px"
        >
    </a>
        <div class="wd-buttons wd-pos-r-t">
            <div class="wd-wishlist-btn wd-action-btn wd-style-icon wd-wishlist-icon"><a
                    class="wd-tltp wd-tooltip-inited"
                    rel="nofollow" data-added-text="Browse Wishlist"><span
                    class="wd-tooltip-label"> Описание и Употреба - </span> <span>Чук кози крак с магнитен улей за пирони и цилиндрична олекотена дръжка от метал.
                Изправената форма на главата го прави подходящ за демонтаж.
                Изработена е от полирана въглеродна стомана.
                </span>
            </a></div>
        </div>
    </div>
    <div class="product-element-bottom"><h3 class="wd-entities-title"><a>Чук магнитен, тип кози крак 570 гр.
        – ЧУК МАГНИТЕН</a></h3>
    </div>
    <form class="mx-auto w-25 bg-blur rounded" method="" action="/">
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="condition" class="h4 mb-2">Количество</label>
            </div>
            <select class="browser-default custom-select" id="condition" name="condition">
                <option value="">Избери количество</option>
                <option value="x 10 boxes">x 10 BOXES</option>
                <option value="x 20 BOXES">x 20 BOXES</option>
                <option value="x 30 BOXES">x 30 BOXES</option>
                <option value="x 40 boxes">x 40 BOXES</option>
                <option value="x 50 boxes">x 50 BOXES</option>
                <option value="x 60 boxes">x 60 BOXES</option>
                <option value="x 70 boxes">x 70 BOXES</option>
                <option value="x 80 boxes">x 80 BOXES</option>
                <option value="x 90 boxes">x 90 BOXES</option>
            </select>

            <small class="text-danger"></small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Поръчай</button>
        </div>


        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Запитване за по големи количества в галерия контакти
            </button>
        </div>

    </form>
</div>
</body>
</html>